.salas{
  position: relative;
  display: inline-block;
    height: 100%;
/* background-image: url("juegonline.png");
background-size: cover; */

  }
  .imagensalas{
width: 99vw;
  }
  .boton-videodrome{
position: absolute;
top: 34%;
right: 11%;
background: none;
border-style: none;
width: 17.9%;
  }
  .boton-superstar{
      position: absolute;
      top: 34%;
      right: 34%;
      background: none;
border-style: none;
      width: 15.9%;
  }
.salasbtnimg{
    width: 100%;
  }